body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Hiragino Maru Gothic Pro", "ƒqƒ‰ƒMƒmŠÛƒS Pro W4", "Osaka", "Arial", sans-serif;
  text-align: left;
  vertical-align: middle;
  line-height: 1.4em;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  text-align: center;
}

a:link {
  color: #0000FF;
}

a:visited {
  color: #663399;
}

a:hover {
  background-color: #FFFFAA;
}

a:active {
  color: #FF0000;
}

.menu-table {
  width: 100%;
  border-style: double;
  border-color: #AAAAEE;
  border-width: 0px 0px 5px 0px;
}

.menu-logo {
  background-image: url(images/HaptiChemLogo_s.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100px;
  height: 85px;
  text-align: center;
  vertical-align: bottom;
  font-size: small;
}

.menu-td {
  padding: 0.5em 1em;
  text-align: left;
  font-size: small;
  line-height: 1.8em;
}

