/* ******************************* */
/*  manual.css                     */
/*  Created: 2006.02.14            */
/*  Updated: 2007.01.15            */
/* ******************************* */
@charset "Shift_JIS";

td  hr {
  border: 1px #999999 solid;
}

.win {
  color: #000000;
  background-color: #AAFFFF;
  border-style: dotted;
  border-color: #AAFFFF;
  border-width: 2px 2px 2px 2px;
}

.mac {
  color: #000000;
  background-color: #FFFF80;
  border-style: double;
  border-color: #FFFF80;
  border-width: 2px 2px 2px 2px;
}

.format {
  color: #000000;
  background-color: #DDDDDD;
  border-style: solid;
  border-color: #555555;
  border-width: 1px 2px 2px 1px;
  padding: 10px 10px;
}

